<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes/hamilton</title>
</head>

<body>
    <header>
        <h1>Heroes</h1>
        <nav>
            <a href="/">Home</a>
            <a href="babbage">Babbage</a>
            <a href="berners-lee">Berners-lee</a>
            <a href="clarke">Clarke</a>
            <a href="hopper">Hopper</a>
            <a href="lovelace">Lovelace</a>
            <a href="turing">Turing</a>
        </nav>
    </header>
    <main>
        <h2>Hamilton</h2>
        <img src="/img/hamilton.jpg" alt="hamilton">
        <hr>
    </main>
    <footer>
        <a href="/#hamilton">Volver al home</a>
    </footer>
</body>

</html>