<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK REL=StyleSheet HREF="/css/index.css" TYPE="text/css" MEDIA=screen>
    <title>TP Heroes</title>
</head>
<body>
    <header>
        <div>
            <a href="/"><img id="logo" src="/img/logo.png" alt=""></a>
        </div>
        <h1>Heroes</h1>
        <nav id="nav">
            <a href="/">Home</a>
            <a href="berners-lee">Berners-lee</a>
            <a href="clarke">Clarke</a>
            <a href="hamilton">Hamilton</a>
            <a href="hopper">Hopper</a>
            <a href="lovelace">Lovelace</a>
            <a href="turing">Turing</a>
        </nav>
    </header>
    <main class="container">
        <article class="articulos">
            <h2 id="babbage">Babbage</h2>
            <a href="babbage" id="babbage"><img title="babbage" class="img" src="/img/babbage.jpg" alt="babbage"></a>
        </article>
        <article class="articulos">
            <h2 id="berners">Berners-lee</h2>
            <a href="berners-lee"><img class="img" title="berners-lee" src="/img/berners-lee.jpg" alt="berners-lee" ></a> 
        </article>
        <article class="articulos">
            <h2 id="clarke">Clarke</h2>
            <a href="clarke"><img class="img" title="clarke" src="/img/clarke.jpg" alt="clarke" ></a>
        </article>
        <article class="articulos">
            <h2 id="hamilton">Hamilton</h2>
            <a href="hamilton"><img class="img" title="hamilton" src="/img/hamilton.jpg" alt="hamilton" ></a> 
        </article>
        <article class="articulos">
            <h2 id="hopper">Hopper</h2>
            <a href="hopper"><img class="img" title="hopper" src="/img/hopper.jpg" alt="hopper" ></a> 
        </article>
        <article class="articulos">
            <h2 id="lovelace">Lovelace</h2>
            <a href="lovelace"><img class="img" title="lovelace" src="/img/lovelace.jpg" alt="lovelace" ></a>
        </article>
        <article class="articulos">
            <h2 id="turing">Turing</h2>
            <a href="turing"><img class="img" title="turing" src="/img/turing.jpg" alt="turing" ></a>
        </article>
    </main>
    <footer>
        <hr>
        <section>
            <a href="#heroes">Ir al comienzo</a>
            <a href="mailto:richard@gmail.com">Contactame aqui</a> <!-- abre nuestra casilla de correo para enviar un email al correo dado -->
        </section>
        <p>Copyright 2022 pa</p>
    </footer>
</body>
</html>