<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes</title>
</head>
<body>
    <header>
        <h1 id="heroes">Heroes</h1>
        <hr>
        <hr>
    </header>
    <section>
        <article>
            <h2 id="babbage">Babbage</h2>
            <a href="babbage" id="babbage"><img title="babbage" src="/img/babbage.jpg" alt="babbage"></a>
            <hr>
        </article>
        <article>
            <h2 id="berners">Berners-lee</h2>
            <a href="berners-lee"><img title="berners-lee" src="/img/berners-lee.jpg" alt="berners-lee" ></a>
            <hr>
        </article>
        <article>
            <h2 id="clarke">Clarke</h2>
            <a href="clarke"><img title="clarke" src="/img/clarke.jpg" alt="clarke" ></a>
            <hr>
        </article>
        <article>
            <h2 id="hamilton">Hamilton</h2>
            <a href="hamilton"><img title="hamilton" src="/img/hamilton.jpg" alt="hamilton" ></a>
            <hr>
        </article>
        <article>
            <h2 id="hopper">Hopper</h2>
            <a href="hopper"><img title="hopper" src="/img/hopper.jpg" alt="hopper" ></a>
            <hr>
        </article>
        <article>
            <h2 id="lovelace">Lovelace</h2>
            <a href="lovelace"><img title="lovelace" src="/img/lovelace.jpg" alt="lovelace" ></a>
            <hr>
        </article>
        <article>
            <h2 id="turing">Turing</h2>
            <a href="turing"><img title="turing" src="/img/turing.jpg" alt="turing" ></a>
            <hr>
        </article>
    </section>
    <footer>
        <hr>
        <section>
            <a href="#heroes">Ir al comienzo</a>
            <a href="mailto:richard@gmail.com">Contactame aqui</a> <!-- abre nuestra casilla de correo para enviar un email al correo dado -->
        </section>
        <p>Copyright 2022 pa</p>
    </footer>
</body>
</html>