<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes/turing</title>
    <LINK REL=StyleSheet HREF="/css/index.css" TYPE="text/css" MEDIA=screen>
</head>

<body>
    <header>
        <div>
            <a href="/"><img id="logo" src="/img/logo.png" alt=""></a>
        </div>
        <h1>Heroes</h1>
        <nav id="nav">
            <a href="/">Home</a>
            <a href="berners-lee">Berners-lee</a>
            <a href="clarke">Clarke</a>
            <a href="hamilton">Hamilton</a>
            <a href="hopper">Hopper</a>
            <a href="lovelace">Lovelace</a>
            <a href="turing">Turing</a>
        </nav>
    </header>
    <main>
        <h2>Turing</h2>
        <img src="/img/turing.jpg" alt="turing">
        <hr>
    </main>
    <footer>
        <a href="/#turing">Volver al home</a>
    </footer>
</body>

</html>