html{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin:0;
    background-color: #efefef;
}
header{
    background-color: darkcyan;
    padding: 3rem 2rem;
}
header h1{
    font-size: 4rem;
    text-align: center;
}
header div{
    float: left;
    padding: 2rem 2rem;
}
#logo{
    width: 100px;
}
#nav{
    text-align: center;
}
header nav a{
    transition: color 0.3s ease;
    color:#fff;
    text-decoration: none;
    padding: 1rem;
}
header nav a:hover{
    color: cornflowerblue;
}